@import '~bootstrap/scss/bootstrap';
@import 'custom';

.layout-container {
  padding: 20px;
}

.navigator-container {
  padding: 20px;
}

.header-container {
    margin-bottom: 2vh;
}

.headertext {
    background-color: tomato;
    color: white;
    padding: 20px;
}

.footer-container {
    margin-top: 2vh;
}

.footertext {
    background-color: tomato;
    color: white;
    padding: 20px;
    align-self: flex-end;
}

.home-container {
    background-color: lightblue;
    padding: 20px;
}

.login-container {
    background-color: lightgreen;
    padding: 20px;
}

.social-container {
    background: #eee;
    padding: 25px 50px;
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }

  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }


